In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [13]:
import pandas as pd
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.compose import make_column_selector, make_column_transformer

In [4]:
path = '/content/drive/MyDrive/Coding Dojo/Raw Data/abalone.data'
df = pd.read_csv(path, header = None)
df.head()

   0      1      2      3       4       5       6      7   8
0  M  0.455  0.365  0.095  0.5140  0.2245  0.1010  0.150  15
1  M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.070   7
2  F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.210   9
3  M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.155  10
4  I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.055   7

In [5]:
# separate into features (X) and target (y)
X = df.drop(columns = 8)
y = df[8]

In [8]:
# train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [11]:
# column selectors
cat_selector = make_column_selector(dtype_include = 'object')
num_selector = make_column_selector(dtype_include = 'number')

In [14]:
# instantiate OHE
ohe = OneHotEncoder(sparse = False, handle_unknown = 'ignore')

In [15]:
# create tuple of encoder and separater
ohe_tuple = (ohe, cat_selector)

In [16]:
# column transformer
col_transformer = make_column_transformer(ohe_tuple, remainder = 'passthrough')

In [17]:
# instantiate model
lin_reg = LinearRegression()
pipe = make_pipeline(col_transformer, lin_reg)

In [18]:
# fit pipeline to training data
pipe.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('columntransformer',
                 ColumnTransformer(n_jobs=None, remainder='passthrough',
                                   sparse_threshold=0.3,
                                   transformer_weights=None,
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories='auto',
                                                                drop=None,
                                                                dtype=<class 'numpy.float64'>,
                                                                handle_unknown='ignore',
                                                                sparse=False),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x7f2b6586bad0>)],
                                   verbose=False)),
                ('linearregression',
                 LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
                                  normalize=False))],
         verbose=False)

In [19]:
# find R^2 value of model for both training and test
train_score = pipe.score(X_train, y_train)
print(train_score)

0.5344208330176741

In [20]:
test_score = pipe.score(X_test, y_test)
print(test_score)

0.5457612372619376